* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --myBackground1: rgb(42, 42, 42);
    --myBackground2: rgb(20, 20, 20);
    --myWhiteColor: rgb(241, 241, 241);
    --myButtonColor1: rgb(53, 53, 53);
    --myButtonColor2: rgb(119, 130, 130);
    --myBoxShadow: rgb(116, 116, 116);
    --myproductBackground: rgb(105, 105, 105);
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.product-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 4rem;
    gap: 20px;
    padding: 2rem;
}

#search-bar {
    width: 100%;
}

#search-bar-text {
    margin-bottom: 7rem;
    margin-top: 0px;
    border-bottom: 2px solid var(--myBackground2);
    background: rgb(46, 46, 46);
}

#search-bar-btn {
    width: 120px;
    letter-spacing: 0.7px;
    padding: 25px;
    background: rgb(46, 46, 46);
    border: none;
    color: var(--myWhiteColor);
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#search-bar-btn:hover {
    color: var(--myButtonColor2);
    text-decoration: underline;
}

#search-bar-btn.active {
    color: var(--myButtonColor2);
    text-decoration: underline;
}
